[submodule "servioticy-rest-client"]
	path = servioticy-rest-client
	url = https://github.com/servioticy/servioticy-rest-client.git
[submodule "servioticy-dispatcher"]
	path = servioticy-dispatcher
	url = https://github.com/servioticy/servioticy-dispatcher.git
[submodule "servioticy-datamodel"]
	path = servioticy-datamodel
	url = https://github.com/servioticy/servioticy-datamodel.git
[submodule "servioticy-queue-client"]
	path = servioticy-queue-client
	url = https://github.com/servioticy/servioticy-queue-client.git
[submodule "servioticy-api-commons"]
	path = servioticy-api-commons
	url = git://github.com/servioticy/servioticy-api-commons
[submodule "servioticy-api-public"]
	path = servioticy-api-public
	url = git://github.com/servioticy/servioticy-api-public
